[user]
{{- if eq .machine "stackadapt" }}
  email = {{ onepasswordRead "op://Stackadapt/stackadapt/email" }}
{{- else }}
  email = me@j6n.ca
{{- end }}
  name = jonathan ng
  signingkey = ~/.ssh/id_ed25519.pub
[gpg]
  format = ssh
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[init]
  defaultBranch = main
[push]
  default = current
[pull]
  default = true
[alias]
  br = branch
  co = checkout
  newb = checkout -b
  cmm = commit -m
  please = push --force-with-lease
  glob = commit --amend --no-edit
  st = status
  review = !$HOME/.local/bin/git-review
  clean-branches = !$HOME/.local/bin/git-clean-branches
  trim = !$HOME/.local/bin/git-clean-branches
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

# Public GitHub orgs commit as the GitHub noreply address on both profiles.
# Must stay below [user] so it overrides the email set there.
[includeIf "hasconfig:remote.*.url:git@github.com:ctrl-research/**"]
  path = ~/.config/git/github-noreply.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/ctrl-research/**"]
  path = ~/.config/git/github-noreply.gitconfig
[includeIf "hasconfig:remote.*.url:git@github.com:j6nca/**"]
  path = ~/.config/git/github-noreply.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/j6nca/**"]
  path = ~/.config/git/github-noreply.gitconfig
