{
  "mcpServers": {
{{- if eq .machine "stackadapt" }}
    "bifrost": {
      "url": "{{ onepasswordRead "op://Stackadapt/bifrost/url" }}/mcp",
      "headers": {
        "Authorization": "Bearer {{ onepasswordRead "op://Stackadapt/bifrost/password" }}"
      }
    }
{{- end }}
  }
}
